.user-details-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.user-details-container h1 {
  margin-bottom: 0;
}

.load-more-button {
  background-color: orange;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}

.session-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}
