.session-container {
  margin: 10px;
  /* border: 1px solid grey; */
  border-radius: 4px;
  padding: 10px;
  background-color: white;
  box-shadow: 1px 1px 1px gray;
  border: 1px solid lightgrey;
}

.personal-session {
  border: 1px solid black;
}

.session-header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.session-header {
  margin: 0px;
  display: inline-block;
  margin-right: 10px;
}

.session-link {
  text-decoration: none;
}

.username-container {
  padding-bottom: 10px;
}

@media only screen and (min-device-width: 480px) {
  .session-container {
    max-width: 400px;
  }
}
