.session-container {
  margin: 10px;
  border: 1px solid grey;
  padding: 10px;
}

.session-header {
  margin: 0px;
  display: inline-block;
  margin-right: 10px;
}

.session-link {
  text-decoration: none;
}
