.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.session-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 400px;
}

.new-session-button {
  background-color: #4caf50; /* Green */
  border-radius: 4px;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.load-more-button {
  background-color: orange;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}
.more-to-load:hover {
  background-color: darkorange;
}

.new-session-button:hover {
  background-color: #4ccf50;
}
