.navbar-container {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  border-bottom: solid black 2px;
  margin: 5px;
}

@media only screen and (max-width: 640px) {
  .navbar-container {
    justify-content: space-between;
  }
}

.logo {
  height: 40px;
  border: solid black;
  margin-bottom: 5px;
}

.unit-button {
  background-color: blue;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 15px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.unit-button:hover {
  background-color: #000088;
}

.logout-button {
  background-color: #ff4444;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 10px 15px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.logout-button:hover {
  background-color: #ff2244;
}
