.add-exercise-container {
  margin-top: 30px;
}

.description-container {
  margin-bottom: 30px;
}

.detail-overview-container {
  margin-bottom: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-session-button {
  float: right;
  background-color: #ff4444;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.update-description-button {
  display: block;
  background-color: #4caf50;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

.add-exercise-button {
  background-color: #4caf50;
  border-radius: 4px;
  border: none;
  color: white;
  padding: 5px 10px;
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

@media only screen and (min-width: 640px) {
  .detail-overview-inner-container {
    width: 600px;
  }
}
