.add-exercise-container {
  margin-top: 30px;
  margin-left: 10px;
}

.detail-overview-container {
  margin-bottom: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-session-button {
  float: right;
}

@media only screen and (min-width: 640px) {
  .detail-overview-inner-container {
    width: 600px;
  }
}
