.exercise-name-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.exercise-name {
  margin-left: 10px;
}

.remove-exercise-button {
  margin-right: 10px;
  height: 20px;
  align-self: center;
}

.no-sets-yet {
  margin-left: 10px;
}
